<a href="https://colab.research.google.com/github/polamsumanth/B3_PFDS_1121/blob/main/DATA_CLEANING_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DETECTING MISSING VALUES**

In [19]:
import pandas as pd

data = pd.read_csv('/content/mental_health_dataset.csv')
df = pd.DataFrame(data)
print("Original Data Frame: ")
print(df)

Original Data Frame:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

In [20]:
print("\n Check for Missing Values: ")
print(df.isnull())

 Check for Missing Values:
     User_ID    Age  Gender  Occupation  Country  Mental_Health_Condition  \
0      False  False   False       False    False                    False
1      False  False   False       False    False                    False
2      False  False   False       False    False                    False
3      False  False   False       False    False                    False
4      False  False   False       False    False                    False
..       ...    ...     ...         ...      ...                      ...
995    False  False   False       False    False                    False
996    False  False   False       False    False                    False
997    False  False   False       False    False                    False
998    False  False   False       False    False                    False
999    False  False   False       False    False                    False

     Severity  Consultation_History  Stress_Level  Sleep_Hours  Work_Hours  \
0       False                 False         False        False       False
1        True                 False         False        False       False
2       False                 False         False        False       False
3       False                 False         False        False       False
4       False                 False         False        False       False
..        ...                   ...           ...          ...         ...
995      True                 False         False        False       False
996      True                 False         False        False       False
997     False                 False         False        False       False
998      True                 False         False        False       False
999     False                 False         False        False       False

     Physical_Activity_Hours
0                      False
1                      False
2                      False
3                      False
4                      False
..                       ...
995                    False
996                    False
997                    False
998                    False
999                    False

[1000 rows x 12 columns]

**DROPPING MISIING VALUES**

In [21]:
df_dropped = df.dropna()
print("After Dropping Missing Values: ")
print(df_dropped)

After Dropping Missing Values:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
5          6   64         Non-binary          IT         UK
..       ...  ...                ...         ...        ...
991      992   40         Non-binary          IT         UK
992      993   52             Female   Education     Canada
993      994   50  Prefer not to say       Sales     Canada
997      998   33             Female          IT    Germany
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
5                       Yes     High                   No         High
..                      ...      ...                  ...          ...
991                      No     High                  Yes          Low
992                     Yes     High                   No       Medium
993                      No   Medium                  Yes       Medium
997                      No     High                  Yes       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
5            6.3          34                        0
..           ...         ...                      ...
991          8.2          67                        9
992          7.9          57                        2
993          4.8          71                       10
997          9.7          73                       10
999          6.0          61                        7

[499 rows x 12 columns]

**FILLING MISSING VALUES WITH A CONSTANT**

In [22]:
df_filled = df.fillna(0)
print("After Filling Missing Values: ")
print(df_filled)

After Filling Missing Values:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes        0                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No        0                  Yes          Low
996                      No        0                   No         High
997                      No     High                  Yes       Medium
998                     Yes        0                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**FILLING MISSING VALUES WITH MEAN OF COLUMN**

In [23]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
print("After Filling Missing Values: ")
print(df)

After Filling Missing Values:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**HANDLING DUPLICATES**

In [24]:
df_no_duplicates = df.drop_duplicates()
print("After Removing Duplicates: ")
print(df_no_duplicates)

After Removing Duplicates:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**DATA TRANSFORMATION**

In [25]:
print(df.dtypes)

User_ID                      int64
Age                          int64
Gender                      object
Occupation                  object
Country                     object
Mental_Health_Condition     object
Severity                    object
Consultation_History        object
Stress_Level                object
Sleep_Hours                float64
Work_Hours                   int64
Physical_Activity_Hours      int64
dtype: object

In [26]:
df['Sleep_Hours'] = pd.to_numeric(df['Sleep_Hours'])
print(df.dtypes)

User_ID                      int64
Age                          int64
Gender                      object
Occupation                  object
Country                     object
Mental_Health_Condition     object
Severity                    object
Consultation_History        object
Stress_Level                object
Sleep_Hours                float64
Work_Hours                   int64
Physical_Activity_Hours      int64
dtype: object

**APPLYING FUNCTIONS**

In [27]:
df['Work_Hours'] = df['Work_Hours'].apply(lambda x: x+2)
print("After Adding Bonus Hours: ")
print(df)

After Adding Bonus Hours:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          48                        5
1            7.5          49                        8
2            8.4          60                       10
3            9.8          32                        2
4            4.9          64                        5
..           ...         ...                      ...
995          9.3          52                        0
996          4.5          39                        6
997          9.7          75                       10
998          6.5          81                        8
999          6.0          63                        7

[1000 rows x 12 columns]

**NORMALIZATION**

In [28]:
df['Work_Hours_Normalization'] = (df['Work_Hours'] - df['Work_Hours'].min()) / (df['Work_Hours'].max() - df['Work_Hours'].min())
print("After Normalization: ")
print(df)

After Normalization:
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours  \
0            7.1          48                        5
1            7.5          49                        8
2            8.4          60                       10
3            9.8          32                        2
4            4.9          64                        5
..           ...         ...                      ...
995          9.3          52                        0
996          4.5          39                        6
997          9.7          75                       10
998          6.5          81                        8
999          6.0          63                        7

     Work_Hours_Normalization
0                        0.32
1                        0.34
2                        0.56
3                        0.00
4                        0.64
..                        ...
995                      0.40
996                      0.14
997                      0.86
998                      0.98
999                      0.62

[1000 rows x 13 columns]

**MERGING DATASETS**

In [29]:
d ={
    'ID':[1,2,3],
    'Name':['THRISHOOL','SUMANTH','RISHAAK'],
    'Age':[25,30,28],
    'Marks':[85,90,92]
}

In [30]:
course={
    'Id':[1,2,3],
    'Course':['PFDS','FAM','DL']
}

In [31]:
merged_d=pd.merge(pd.DataFrame(d),pd.DataFrame(course),left_on='ID',right_on='Id')
print(merged_d)

   ID       Name  Age  Marks  Id Course
0   1  THRISHOOL   25     85   1   PFDS
1   2    SUMANTH   30     90   2    FAM
2   3    RISHAAK   28     92   3     DL