<a href="https://colab.research.google.com/github/polamsumanth/B3_PFDS_1121/blob/main/LAB_06_DATETIME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WORKING WITH DATETIME IN PYTHON**

In [1]:
from datetime import datetime

df = datetime(2025, 8, 22, 10, 30 ,0)
print(df)

2025-08-22 10:30:00

**CONVERTING STRINGS TO DATETIME IN PANDAS**

In [2]:
import pandas as pd

date_str = ['2025-08-22', '2025-08-23']
dates = pd.to_datetime(date_str)
print(dates)

DatetimeIndex(['2025-08-22', '2025-08-23'], dtype='datetime64[ns]', freq=None)

**EXTRACTING DATE AND TIME COMPONENTS**

In [3]:
ls = pd.to_datetime("2025-08-22, 5:45:30")
print(ls.year)
print(ls.month)
print(ls.day)
print(ls.weekday())
print(ls.hour)

2025
8
22
4
5

**CREATING DATE RANGES**

In [4]:
pd.date_range(start = '2025-01-01', periods = 10, freq = 'ME' )
print(df)

2025-08-22 10:30:00

**CREATING TIME SERIES**

In [5]:
import pandas as pd
import numpy as np

dates = pd.date_range('2025-01-01', periods = 6, freq = 'D')
df = pd.Series(np.random.randn(6), index = dates)
print(df)

2025-01-01   -1.171726
2025-01-02   -1.784343
2025-01-03   -0.727409
2025-01-04   -0.451473
2025-01-05   -0.443382
2025-01-06   -1.729722
Freq: D, dtype: float64

**INDEXING AND SLICING WITH DATES**

In [7]:
print(df['2025-01-02'])
print(df['2025-01-02':'2025-01-04'])

-1.784342662674741
2025-01-02   -1.784343
2025-01-03   -0.727409
2025-01-04   -0.451473
Freq: D, dtype: float64

**TIME BASED INDEXING**

In [15]:
print(ls['2025-01-01'])

0.055382504839654435

In [9]:
print(df['2025-01-01'])

-1.171725923822444

**TIME BASED OPERATIONS IN PANDAS**

In [12]:
ls = pd.Series(np.random.randn(6), index = pd.date_range('2025-01-01', periods = 6, freq = 'D'))
print(ls)
monthly_mean = ls.resample('M').mean()
print(monthly_mean)

2025-01-01    0.055383
2025-01-02    0.922276
2025-01-03    0.096174
2025-01-04    0.572849
2025-01-05   -1.901192
2025-01-06    0.770766
Freq: D, dtype: float64
2025-01-31    0.086043
Freq: ME, dtype: float64

/tmp/ipython-input-599836450.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = ls.resample('M').mean()

**SHIFTING DATE**

In [11]:
print(ls.shift(1))
print(ls.shift(-1))

2025-01-01         NaN
2025-01-02   -0.030913
2025-01-03    1.154936
2025-01-04    1.326683
2025-01-05    0.616945
2025-01-06   -0.455562
Freq: D, dtype: float64
2025-01-01    1.154936
2025-01-02    1.326683
2025-01-03    0.616945
2025-01-04   -0.455562
2025-01-05   -0.245281
2025-01-06         NaN
Freq: D, dtype: float64

**ROLLING OR MOVING WINDOW**

In [13]:
print(ls.rolling(window = 2).mean())

2025-01-01         NaN
2025-01-02    0.488829
2025-01-03    0.509225
2025-01-04    0.334511
2025-01-05   -0.664172
2025-01-06   -0.565213
Freq: D, dtype: float64

**EXAMPLE**

In [18]:
dates = pd.date_range('2025-01-01', periods = 5, freq = 'D')
prices = pd.Series([100, 102, 99, 105, 110], index = dates)
print("Original Prices == \n", prices)
print("/day Moving Avg \n")
prices = prices.rolling(window = 2, min_periods = 1).mean()
print(prices)

Original Prices ==
 2025-01-01    100
2025-01-02    102
2025-01-03     99
2025-01-04    105
2025-01-05    110
Freq: D, dtype: int64
/day Moving Avg

2025-01-01    100.0
2025-01-02    101.0
2025-01-03    100.5
2025-01-04    102.0
2025-01-05    107.5
Freq: D, dtype: float64

**TEMPERATURE READINGS**

In [21]:
dates = pd.date_range('2025-01-01', periods=24, freq='H')
temps = pd.Series(np.random.randint(25, 35, 24), index=dates)
print("Hourly Date : \n", temps)

Hourly Date :
 2025-01-01 00:00:00    25
2025-01-01 01:00:00    34
2025-01-01 02:00:00    34
2025-01-01 03:00:00    26
2025-01-01 04:00:00    25
2025-01-01 05:00:00    31
2025-01-01 06:00:00    30
2025-01-01 07:00:00    26
2025-01-01 08:00:00    28
2025-01-01 09:00:00    29
2025-01-01 10:00:00    29
2025-01-01 11:00:00    33
2025-01-01 12:00:00    30
2025-01-01 13:00:00    31
2025-01-01 14:00:00    27
2025-01-01 15:00:00    31
2025-01-01 16:00:00    30
2025-01-01 17:00:00    30
2025-01-01 18:00:00    32
2025-01-01 19:00:00    25
2025-01-01 20:00:00    27
2025-01-01 21:00:00    26
2025-01-01 22:00:00    27
2025-01-01 23:00:00    32
Freq: h, dtype: int64

/tmp/ipython-input-917085433.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range('2025-01-01', periods=24, freq='H')

**LAB - 06**

**QUESTION - 03**

In [22]:
import pandas as pd

data = {
    "TransactionID": [101, 102, 103, 104, 105, 102, 104],
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Bob", "David"],
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone", "Phone", "Laptop"],
    "Amount": [1200, 800, 300, 1200, 800, 800, 1200],
    "Date": ["2024-01-01", "2024-01-02", "2024-01-03",
             "2024-01-04", "2024-01-05", "2024-01-02", "2024-01-04"]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

duplicates = df.duplicated()
print("\nNumber of duplicate rows:", duplicates.sum())

df_cleaned = df.drop_duplicates()
print("\nCleaned Dataset:\n", df_cleaned)

print("\nBefore removing duplicates:", len(df))
print("After removing duplicates:", len(df_cleaned))

Original Dataset:
    TransactionID Customer Product  Amount        Date
0            101    Alice  Laptop    1200  2024-01-01
1            102      Bob   Phone     800  2024-01-02
2            103  Charlie  Tablet     300  2024-01-03
3            104    David  Laptop    1200  2024-01-04
4            105      Eva   Phone     800  2024-01-05
5            102      Bob   Phone     800  2024-01-02
6            104    David  Laptop    1200  2024-01-04

Number of duplicate rows: 2

Cleaned Dataset:
    TransactionID Customer Product  Amount        Date
0            101    Alice  Laptop    1200  2024-01-01
1            102      Bob   Phone     800  2024-01-02
2            103  Charlie  Tablet     300  2024-01-03
3            104    David  Laptop    1200  2024-01-04
4            105      Eva   Phone     800  2024-01-05

Before removing duplicates: 7
After removing duplicates: 5

**QUESTION - 04**

In [23]:
import pandas as pd

data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "70000"],
    "Joining_Date": ["2021-05-10", "2020-08-15", "2022-01-20", "2019-11-30"]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df.dtypes)

df["Salary"] = pd.to_numeric(df["Salary"])
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\nConverted Dataset:\n", df.dtypes)
print("\nFinal Dataset:\n", df)

Original Dataset:
 EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Converted Dataset:
 EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Final Dataset:
    EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2021-05-10
1           2      Bob   60000   2020-08-15
2           3  Charlie   55000   2022-01-20
3           4    David   70000   2019-11-30